<%- include("header") -%>

 <h1 class="top">Enter user's ID to be deleted: </h1>

 <form action="/deleteUser" method="post" class="insert row col-lg-4">
   <div class="form-group">
     <label >ID:</label>
     <input type="text" class="form-control" name="userID"  placeholder="Enter user's ID">
     <button type="submit" class="btn btn-primary"  onclick="this.form.submit()">Submit</button>
   </div>
 </form>


<%- include("footer") -%>
